#!/usr/bin/make -f

export PYBUILD_NAME=suds

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf tools/__dummy__/
	rm -rf suds_jurko.egg-info/
	rm -rf .cache/
